{% extends "main/base.html" %}

{% load static %}

{% block title %} | Login
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="acs-form">
	<p>Login</p>
  	<form method="post">
		{% csrf_token %}
  		{{ form.as_p }}
  		<button class="acs-button" type="submit">Login</button>
	</form>
</div>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block sticker %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer%}
{% endblock %}

{% block js %}
{% endblock %}