{% extends "main/base.html" %}

{% load static %}

{% block title %} | Login
{% endblock %}

{% block content %}
<div class="osd-form">
	<div class="osd-form-top">
		<a href="{% url 'index' %}"><img class="osd-logo" src="{% static 'main/logo.png' %}"></a>
		<p><b>Welcome</b><br>Create your account</p>
	</div>
  	<form method="post">
		{% csrf_token %}
  		{{ form.as_p }}
  		<button class="acs-button" type="submit">Register</button>
	</form>
	<div class="osd-form-top">
		<p>Already have an account?<br><a href="{% url 'login' %}">Login here.</a></p>
	</div>
</div>
{% endblock %}