{% extends "main/base.html" %}

{% load static %}

{% block title %}
| Home
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="osd-form">
    <div class="osd-form-top">
        <a href="{% url 'index' %}"><img class="osd-logo" src="{% static 'main/logo.png' %}"></a>
        <h1>Django Authentication</h1>
    </div>
    {% if request.user.is_authenticated %}
    <div class="osd-form-top">
        <h3>{{request.user.username}}</h3>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>
    {% else %}
    <div class="osd-form-top">
        <h3>{{request.user.username}}</h3>
        <p>Please login <a href="{% url 'login' %}">here</a></p>
        <p>Create account <a href="{% url 'register' %}">here</a></p>
    </div>
    {% endif %}
</div>
{% endblock %}